// === CARD ===
.card-v1 {
  h5 {
    font-size: 18px;
    font-weight: 500;
  }

  p {
    font-size: 14px;
  }
}

// === / CARD ===

// === TITLE ===

// === / TITLE ===

// === TITLE ===
// === / TITLE ===

// === TITLE ===
// === / TITLE ===

// === TITLE ===
// === / TITLE ===

// === TITLE ===
// === / TITLE ===

// === TITLE ===
// === / TITLE ===

// === TITLE ===
// === / TITLE ===
