// === TYPOGRAPHY ===
.text-head {
  color: $text-head;
}

.text-parag {
  color: $text-paragraph;
}

.text-head-color {
  color: $text-head;
}

.text-parag-color {
  color: $text-paragraph;
}

.section-title {
  font-size: 30px;
  font-weight: 600;
  color: $text-head;
}
// === / TYPOGRAPHY ===

// === TITLE ===
// === / TITLE ===

// === TITLE ===
// === / TITLE ===

// === TITLE ===
// === / TITLE ===

// === TITLE ===
// === / TITLE ===

// === TITLE ===
// === / TITLE ===

// === TITLE ===
// === / TITLE ===

// === TITLE ===
// === / TITLE ===
